
body {
    font-family: 'Work Sans', sans-serif;
    background: #4736FF url("https://i0.wp.com/photos.smugmug.com/photos/i-QxHjqKd/0/O/i-QxHjqKd.jpg?resize=6000%2C4000&ssl=1") no-repeat;
    background-size: 2000px;
    position: absolute;
}
.container {
    display: block;
    position: center;
    height: 100%;
    width: 600px;
    margin-top: 100px;
    margin-left: 90%;
    padding-left: 60px;
    padding-top: 60px;
    padding-right: 30px;
    padding-bottom: 60px;
    background-color: rgb(255, 255, 255);
}
h1 {
    font-size 20px;
    font-weight: 600;
    margin-bottom: 60px;
}
h2 {
    font-size: 15px;
    font-weight: 600;
    color: #4736FF;
}
p {
    font-size: 15px;
    line-height: 1.5;
    letter-spacing -2;
    font-weight: 400;
    color: black;
}
a {
    background-color: #FFFCFF;
    text-decoration: none;
    display: inline-block;
    color: #9E9C9E;
} 
a:hover {
    text-decoration: underline;
    display: inline-block;
    color: black;
}