* {
    border: 1px solid transparent !important;
    font-family: 'Work Sans', sans-serif;
    color: red;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    padding: 5%;
}
.row {
    width: 100%;
    margin-bottom: 200px;
}
.title {
    margin-left: 40px;
}
.content {
    border: 1px solid red;
    width: 100%;
    margin-bottom: 20px;
}
img {
    max-width: 80%;

}
.intro {
    margin-left: 40px;
    width: 100%;
    padding-right: 20%;
}
.blog {
}
h1 {
    font-weight: 400;
}
h2 {
    font-weight: inherit;
    font-size: 16px;
}
ul {
width: 100%;
}
ul, li, h1, p {
    display: inherit;
    font-weight: inherit;
    font-size: 36px;

}
a {
    text-decoration: none;
}
a:hover {
    color: grey;
}
